.page {
  position: relative;

  margin: 0 auto;
  box-sizing: border-box;

  width: 375px;

  background: transparent linear-gradient(180deg, #6600FF 0%, #00CC99 100%) 0% 0% no-repeat padding-box;
  color: #080708;
  font-family: 'SF Pro', sans-serif;
  font-size: 20px;
  line-height: calc(24 / 20);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
