.btn_type_close {
  position: absolute;
  top: 22px;
  right: 66px;

  width: 36px;
  height: 36px;

  border: none;

  background-image: url(../../../images/сlose.svg);
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center center;
}
